.chip{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
}

/* may be svg close button sabke andar aata hoga */
chip svg{
    height: 16px;
    width: 16px;
    /* when u go to the button the cursor will change */
    cursor: pointer;
}