.board{
    height: 100%;
    min-width: 300px;
    border: 1px solid green ;
    max-height: 100%;
}
.board_top{
    display: flex;
    gap:120px;
    justify-content: space-between;
}
.board_cards{
    height: 100%;
    flex:1;
    border: 1000px solid red;
    background-color: #f8f8f8;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    overflow-y: auto;
  }
  .boards_card_add{
     background-color: #fff;
     border-radius: 5px;
     box-shadow: 1px 2px 0 1px rgba(0,0,0,0.15);
  /* box-shadow: 10px -10px 114px 90px yellow; */
    }

.boards_card_add:hover{
    box-shadow: 1px 2px 0 1px #ccc;

    /* background-color: ; */
}